<!DOCTYPE html>
<html lang="en">
<head>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
      <div class="search">
        <form action="/pokemon/<%= @name %>" method="get">
          <label for="search">Search for a pokemon</label>
          <input type="text" id="search" name="search" placeholder="Pikachu">
          <input type="submit" value="Search">
        </form>
      </div>

      <div class="basicinfo">
        <img id="sprite1" src="link to front sprite here" alt="front sprite">
        <img id="sprite2" src="link to back sprite here" alt="back sprite">
        <p id="id">ID: </p>
        <p id="name">Name: </p>
        <div class="type">
          <p>type1</p>
          <p>type2</p>
        </div>
        <div class="appearance">
          <p>height</p>
          <p>weight</p>
        </div>
      </div>

      <div class="extrainfo">
      </div>



    </div>
</body>
</html>

